<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.eaj.tads.acobrona">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jiboia"
        android:label="Snake"
        android:roundIcon="@mipmap/jiboia"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tabuleiro"
            android:screenOrientation="locked" />
        <activity
            android:name=".Configurar"
            android:screenOrientation="locked" />
        <activity android:name=".GameOver"></activity>
    </application>

</manifest>